body {
	min-height: 100vh;
	background-color: #2C3333;
}

.hide {
	display: none !important;
}

.alert {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0;
}

#price-container {
	height: 80vh;
	color: #E7F6F2;
}