/* color scheme */
.color-1 { color: #E7F6F2 }
.color-2 { color: #A5C9CA }
.color-3 { color: #395B64 }
.color-4 { color: #2C3333 }

/* psuedo Bootstrap classes */
.d-flex { display: flex; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.align-items-center { align-items: center; }
.text-start { text-align: left; }
.text-center { text-align: center; }
.text-end { text-align: right; }

body {
	min-height: 100vh;
	background-color: #2C3333;
}

#navbar {
	position: fixed;
	top: 24px;
	left: 5%;
	right: 5%;
}

#main-content {
	height: 80vh;
}

.red-dot {
	border: 1px solid red;
	border-radius: 50%;
	background-color: red;
  height: 8px;
  width: 8px;
  margin-right: 4px;
}